@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


#logo{
    object-position: right; 
    width: 600%;
    height: 600%;
    background-position: 500%;

}

#user{
    object-position: top;
    
}

.footer{
display: block;
padding-left: 10px;
 height: 70px;
 position:sticky;
  color: black;
text-align: center;
 padding-top: 1rem;
 padding: 1.25rem;
  text-align: center;
  margin: 2rem 0 0;
}
