@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
    font-family: 'Lato', sans-serif;
 margin: 0;
background-color: #FFE6EF
}

header{
    display: flex;
   min-height: 60px;
    background-color: #bda1dd80;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
  font-family:'Lato', sans-serif ;
}

 a {
    text-decoration: none;
    color: black;
    font-family: 'Lato', sans-serif;
}
 
   

.logo img {
    height: 100px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    }
    

