@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.main{
    min-height: 100%; 
    height: auto !important;
    height: 100%; 
    margin: 0 auto -100px;
    vertical-align:bottom;
padding: 10px;

}
.banner{
    display: flex;
    justify-content: center;
    width: 400px;
height: 200px;
margin: 20px 18px ;
max-width: 1300px;
overflow: auto;
padding: 0 20px;

}

.button{
    background-color: #FFE6EF; /* rosa */
    border: 2px solid #BCA0DD ;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 16px;
    margin: 10px 8px;
    cursor: pointer;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
     width: 30%;
     text-transform: uppercase;
     position:absolute;
        left: 30%;
        border-radius: 12px;
}


.descuentos-texto {
     text-align: justify;
    margin-left: 15px;
    margin-right: auto;
    vertical-align: middle;
    font-family: 'Lato', sans-serif;
    
}

.registrarse:hover{
text-decoration: solid;
color: blueviolet;

}

.cupon{
    display: flex;
    justify-content: center;
    width: 100%;
height: 200px;
margin: 20px 5px;
max-width: 1300px;
overflow: auto;
  
}

.frase1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
   text-transform: uppercase;
 font-family: 'Times New Roman', Times, serif;
 position: absolute;
 bottom: 60px;
}

.consultas{
    text-align: justify;
    font-family: 'Lato', sans-serif;
    padding: 10px;
}

.p{
    font-family: 'Lato', sans-serif;
    text-align: justify;
    text-transform:none ;
    padding:10px
}