@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.main{
    min-height: 100%; 
    height: auto !important;
    height: 100%; 
    margin: 0 auto -100px;
    vertical-align:bottom;
padding: 10px;

}


/* seccion index */

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.hero img {
  height: 37.5rem;
  width: 37.5rem;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color:black;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}


  /* seccion index end */

/* seccion descuentos */
.descuentos-texto {
     text-align: justify;
    margin-left: 15px;
    margin-right: auto;
    vertical-align: middle;
    font-family: 'Lato', sans-serif;
    
}

.registrarse:hover{
text-decoration: solid;
color: blueviolet;

}

.cupon{
    display: flex;
    justify-content: center;
    width: 100%;
height: 200px;
margin: 20px 5px;
max-width: 1300px;
overflow: auto;
  
}

/* seccion descuentos end */

/* seccion consultas */
.consultas{
    text-align: justify;
    font-family: 'Lato', sans-serif;
    padding: 10px;
}

.p{
    font-family: 'Lato', sans-serif;
    text-align: justify;
    text-transform:none ;
    padding:10px
}

/* seccion consultas end */


@media screen and (max-width: 720px) {
    nav {
      padding: 1.5rem 1rem;
    }
    nav ul {
      position: fixed;
      background-color: var(--bg-color);
      flex-direction: column;
      top: 86px;
      left: 10%;
      width: 80%;
      text-align: center;
      transform: translateX(120%);
      transition: transform 0.5s ease-in;
    }
  
    nav ul li {
      margin: 8px;
    }

    nav ul.show {
        transform: translateX(0);
      }

      .tresfrases-container {
        flex-direction: column;
      }
    
      .tresfrases-container {
        width: 20.875rem;
      }
    
      .contact-form-container {
        max-width: 23.75rem;
      }

      



}  