@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.main{
    min-height: 100%; 
    height: auto !important;
    height: 100%; 
    margin: 0 auto -100px;
    vertical-align:bottom;


}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
height: 200px;
margin: 20px 18px ;
max-width: 1300px;
overflow: auto;
padding: 0 20px;
grid-template-columns: repeat() ;


}

.button{
    background-color: #BCA0DD; /* violeta */
    border: 2px solid black ;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 8px;
    cursor: pointer;
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
     width: 50%;
     
}

.h2{
     text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

.cupon{
    display: flex;
    justify-content: center;
    width: 100%;
height: 200px;
margin: 20px 18px ;
max-width: 1300px;
overflow: auto;
padding: 0 20px;  
}

.frase1 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
}

h2 {
    text-align: center;
}


img {
    max-width: 100%;
}

h3 {
    font-size: 5rem;
}

.contenedor {
    align-content: center;
    max-width: 1200px;
    width: 500%;
    margin: 0 auto;
}

.entradaBlog a {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

@media (min-width: 480px ) {
    .tres-columnas {
        display: grid;
        grid-template-columns: repeat( 3, 1fr);
        column-gap: 3rem;
    }
   
}


.grid-container {
    display: grid;
    grid-template-rows: auto;    
}