@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


.main{
    min-height: 100%; 
    height: auto !important;
    height: 100%; 
    margin: 0 auto -100px;
    vertical-align:bottom;


}
.container{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 200px;
    margin: 20px 18px ;
    max-width: 1300px;
    overflow: auto;
    padding: 0 20px;
    grid-template-columns: repeat() ;


}


/* seccion index */
     .hero_main{
     display: flex;
     padding: 1.5em;
     padding-top: 0.5rem;
    }

     .main_text{
     display:flex;
     flex-direction: column;
     justify-content: center;
     padding-left: 3rem;
     }

     .main_text h4{
      font-family:'Lato', cursive;
      font-weight: 300;
      font-size: 1.4rem;
      border: 2px dashed  rgb(138, 43, 226);
      width: max-content;
      padding:1rem;
      padding-bottom: .4rem; 
      margin-bottom: 1rem;
     }

     .main_text h2{
      font-family:'Lato', cursive;
      font-size: 3rem;

     }

     .main_text h3{
      font-family:'Lato', cursive;
      font-size: 1.5rem;
      padding: 0.5em;

     }

     .main_img{
      display: flex;
      justify-content: center;
      align-items: center;
      padding-block: 2rem;
     }
  /* seccion index end */

/* seccion descuentos */
.descuentos-texto {
     text-align: justify;
    margin-left: 15px;
    margin-right: auto;
    vertical-align: middle;
    font-family: 'Lato', sans-serif;
    
}

.registrarse:hover{
text-decoration: solid;
color: blueviolet;

}

.cupon{
    display: flex;
    justify-content: center;
    width: 100%;
height: 200px;
margin: 20px 5px;
max-width: 1300px;
overflow: auto;
  
}

/* seccion descuentos end */

/* seccion consultas */
.consultas{
    text-align: justify;
    font-family: 'Lato', sans-serif;
    padding: 10px;
}

.p{
    font-family: 'Lato', sans-serif;
    text-align: justify;
    text-transform:none ;
    padding:10px
}

/* seccion consultas end */


@media screen and (max-width: 720px) {
    nav {
      padding: 1.5rem 1rem;
    }
    nav ul {
      position: fixed;
      background-color: var(--bg-color);
      flex-direction: column;
      top: 86px;
      left: 10%;
      width: 80%;
      text-align: center;
      transform: translateX(120%);
      transition: transform 0.5s ease-in;
    }
  
    nav ul li {
      margin: 8px;
    }

    nav ul.show {
        transform: translateX(0);
      }
}  
h2 {
    text-align: center;
}


img {
    max-width: 100%;
}

h3 {
    font-size: 5rem;
}

.contenedor {
    align-content: center;
    max-width: 1200px;
    width: 500%;
    margin: 0 auto;
}

.entradaBlog a {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

@media (min-width: 480px ) {
    .tres-columnas {
        display: grid;
        grid-template-columns: repeat( 3, 1fr);
        column-gap: 3rem;
    }
   
}

.error {
    color: red;
    background-color: yellow;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}


.grid-container {
    display: grid;
 
    text-align: center; 
    position: relative;
    position: top 300px;  

}


