@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.nav a{
    font-weight: 600;
    padding-right: 10px;
    font-family: 'Lato', sans-serif;
    }
    
    .nav a:hover{
    color: blueviolet;
    }
    
    
    
    